@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "montserrat";
}

body{
  background-image: linear-gradient(115deg, rgba(0, 0, 0, 0.431), rgba(165, 158, 158, 0.809)), url(../imagens/pexels-chait-goli-2666598.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: center center;
  line-height: 1.4;
}

form{
  max-width: 540px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.493);
  border-radius: 5px;
  padding: 25px;
  height: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.549);
  color: white;
}

header{
  text-align: center;
  color: white;
  margin-top: 25px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.546);
  padding-bottom: 25px;
}

header > p {
  font-style: italic;
  text-shadow: 1px 1px 5px black;
}
.controleform{
  margin-top: 10px;
}
.controleinput{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 5px rgba(218, 202, 202, 0.216);
  margin-bottom: 10px;
}

label{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  margin-top: 7px;
}

.inputradio , .inputcheck-box{
  margin-right: 5px;
}

.input-textarea{
  width: 100%;
  margin-top: 5px;
}

#botao-submit{
  background-color: black;
  color: white;
  cursor: pointer;
  margin-top: 5px;
  padding: 10px;
  font-weight: bold;
  
}

#botao-submit:hover{
  background-color: white;
  color: black;
  font-weight: bold;
  transform: translate(-3px,-3px);
  transition: 1s;
}
